.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, .5);

    @media only screen and (max-width: 600px) {
         > p {
            font-size: 3rem;
         }
    }
}

.projectContainer {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.projectCard {
    padding: .7rem;
    border: 1px solid rgba(128, 128, 128, .5);

    .image {
        position: relative;
        padding: 1rem;

        > span {
            position: absolute;
            top: 0;
            left: 0;
            padding: .5rem;
            background-color: red;
        }
    }

    .projectInfo {
        position: relative;
        color:whitesmoke;
        font-weight: bold;
        font-size: 1.6rem;

        .icon {
            position: absolute;
            top: .5rem;
            right: 1rem;
        }
    }

    @media only screen and (max-width: 768px) {
        margin: 2rem;
    }
}